body {
  background-color: maroon;
  margin-bottom: 1px;
}

.topHeading {
  text-align: center;
  color: white;
  font-family: sans-serif;
}

#introVideo {
  display: block;
  margin: 0 auto;
  border: 5px solid black;
  padding: 10px;
  border-radius: 5px;
  background-color: gray;
}

#picture {
  display: block;
  margin: 0 auto;
  position: relative;
  width: 600px;
  bottom: -20px;
  left: 225px;
}

.footer {
  color: yellow;
}

#footer1 {
  bottom: 30px;
  position: absolute;
}

#footer2 {
  position: absolute;
  bottom: 30px;
  left: 1680px;
}
