body {
  background-color: maroon;
  margin-bottom: 1px;
}

.topHeading {
  text-align: center;
  color: white;
  font-family: sans-serif;
}

#introVideo {
  display: block;
  margin: 0 auto;
  border: 5px solid black;
  padding: 10px;
  background-color: #ffb200;
}

#picture {
  display: block;
  margin: 0 auto;
  position: relative;
  width: 100px;
  bottom: -20px;
  left: 0px;
}

.footer {
  color: black;
}

#addressFooter {
  bottom: 30px;
  position: absolute;
  overflow: auto;
}

#phoneFooter {
  position: absolute;
  bottom: 30px;
  left: 1680px;
  overflow: auto;
}

#leftPillar {
  float: left;
  margin-top: -525px;
  margin-left: 100px;
}

#rightPillar {
  float: right;
  margin-top: -525px;
  margin-right: 100px;
}

#venividivici {
  display: block;
  margin: 0 auto;
  position: relative;
  bottom: -60px;
  left: 15px;
}
